 /** Background from http://www.transparenttextures.com/ **/

td-cards {
  display: block;
  position: absolute;
  top: calc(40% - 90px);
  left: calc(55% - 180px);
  width: 315px;
  height: 180px;
  border-radius: 10px;
}

td-card {
  position: absolute;
  top: 0;
  left:  0;
  width: 315px;
  height: 180px;
  -webkit-transform: scale(1,1);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 25px 15px;
}

.card {
  position: absolute;
  bottom: 0;
  left:  0;
  width: 315px;
  height: 180px;
  -webkit-transform: scale(1,1);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 25px 15px;

  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  z-index: 10;
  transform: translate3d(0, 0, -180px);
  transform-style: preserve-3d;

}


.cards-on-bottom {
    bottom: 0!important;
}

td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  z-index: 10;
  transform: translate3d(0, 0, -180px);
  transform-style: preserve-3d;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
  transform: translate3d(0, 0, -180px);
  transform-style: preserve-3d;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card-face {
    color: #121212;
    font-family: $brand-font-family-base;
    background-color: #fff;
}

.card-back {
  background-color: #000;;
  color: #000;
  background-image: url("../img/bg/plaid.png");
  background-repeat: repeat;
    border: 4px solid white;
    max-width: 100%;
    z-index: 1000;
}

.card #end-card {
  background-color: none;
  box-shadow: none;
  border-radius: none;
}


#end-card {
    border: none;
    background-color: none;
    box-shadow: none;
    border-radius: none;
    margin-left: 0;

    i {
        position: absolute;
        top: calc(50% - 55px);
        left: calc(50% - 40px);
        font-size: 100px;
      }

    .end-card__start--countdown {

       i {
          position: absolute;
          top: calc(50% - 55px);
          left: calc(50% - 40px);
          font-size: 100px;
        }

      button {
          position: absolute;
          bottom: 5%;
          width: 100%;
          text-align: center;
        }
    }
}

#end-card i {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 40px);
  font-size: 100px;
}

.reload-card i {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  font-size: 100px;
}


/*
.playingCards {
    position: relative;
    height: 128px;
    margin-left: 400px;
}

.card {
    margin-right: 10px;
    width: 180px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card-index-0 {
    position: absolute;
    left: 0;
}

.card-index-1 {
    position: absolute;
    left: 40px;
}

.card-index-2 {
    position: absolute;
    left: 80px;
}

.card-index-3 {
    position: absolute;
    left: 120px;
}

.card-index-4 {
    position: absolute;
    left: 160px;
}

.card-index-5 {
    position: absolute;
    left: 200px;
}

.card-index-6 {
    position: absolute;
    left: 240px;
}

.card-index-7 {
    position: absolute;
    left: 280px;
}

.card-index-8 {
    position: absolute;
    left: 320px;
}

.card p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 35px;
    text-align: center;
}

.card.back {
    background-color: #800080;
    background-repeat: repeat;
    background-image: url('argyle.png');
}
*/