/** vars @ 'app.scss'
**
    $light:                           #fff !default;
    $stable:                          #f8f8f8 !default;
    $positive:                        #387ef5 !default;
    $balanced:                        rgb(38, 187, 101) !default;
    $energized:                       #ffc900 !default;
    $assertive:                       #ef473a !default;
    $royal:                           #886aea !default;
    $dark:                            #444 !default;
    $calm:                            #11c1f3 !default;
    $fb-blue:                           #3b5998 !default;
    $google-red:                    #d34836 !default;

    $brand-primary:                     #fc0 !default;
    $brand-bg:                              #333 !default;
    $brand-color:                           #c7c7c7 !default;
    $brand-font-family-base:                'Open Sans', sans-serif !default;
    $brand-font-family-hand-writing:        'Shadows Into Light Two', cursive !default;
    $brand-color-gray:                      #444444 !default;
    $brand-color-dark:                      #121212 !default;   ////  Dark Gray
    $brand-color-light:                     #c6c6c6 !default;  //// Off White

    $brand-team1-color:         #fb292d !default;   //// Red
    $brand-team2-color:         #84bcde !default;  //// Blue
**
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.item {
    border: none!important;
    background-color: transparent;
//    color: $brand-color-gray;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    font-size: 16px;
}

.item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: $brand-bg;
}

.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: $brand-color-dark;
    color: $brand-primary;
    font-weight: 500;
}

.item-radio input:checked + .radio-content .item-content {
    background: $brand-color-dark;
    color: $brand-yellow;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    display: block;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 14px;
    height: 48px;
    color: white;
    vertical-align: middle;
    font-size: 18px;
    line-height: 48px;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
}



.modal {
  padding-top: 45px;
}

@media (min-width: 680px) {
    .modal {
        top: 20%;
        right: 0;
        bottom: 20%;
        left: 0;
        min-height: 240px;
        width: 100%;
    }
}

.modal {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;

    opacity: 1;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color:  $brand-color-gray;
    font-size: 16px;
}

.ionic-contrib-frost {
    overflow: hidden;
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    right:0;
    -webkit-filter:blur(10px);
    opacity:1;
    z-index: 10;
}


.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: $brand-bg;
}

.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    background-color: $brand-bg;
}

.list:last-child {
    margin-bottom: 0px;
}

form {
    color: $brand-color-dark;

    .input-label {
        color: $brand-color-light;
        font-size: 16px;
    }
}

.view {
    background-color: transparent;
}

// .pane {
//     top: 0 !important;
// }

// .pane .has-header {
//     top: 0 !important;
// }
/*
.has-header {
    top: 0 !important;
}
*/

/*
.bar.bar-header:after{
     position: absolute;
     left: 0;
     right: 0;
     height: 6px;
     z-index: 999;
     content: '';
     top: 0;
 }

 .bar.bar-header .title {
    color: $brand-color-light;
    height: 55px;
    font-size: 1.3em;
    line-height: 56px;
    text-align: center;
}

*/

.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 44px;
    border-width: 0;
    border-style: solid;
    border-top: none;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    border: none;
}

.bar-subheader {
    position: absolute;
    top: 50px;
    display: block;
    height: 44px;
    border: none;
}

.bar.bar-header {
    position: absolute;
    border: none;
}
