    <div class="modal">
    <ion-modal-view>
        <ion-header-bar class="hidden bar bar-header bar-dark">
            <h1 class="title">Act out your phrase!</h1>
            <button class="hidden button button-clear button-primary" ng-click="modal.hide();stopTimer(true);">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">

            <div class="progress-wrapper bg-brand-dark">

                <div ng-if="!started && !paused && !done">
                   <div class="fixed__outside--center">

                        <div class="start__countdown__container">
                                <button class="button-start-countdown button button-balanced button-outline button-fab icon ion-power" ng-click="startTimer()"></button>
                        </div>

                    </div>
                </div>

                <div ng-if="started && !done">
                    <div class="progress">
                        {{humanizeDurationTimer(timer,'s')}}
                    </div>
                </div>

                <div round-progress
                    max="timeForTimer"
                    current="timer"
                    clockwise="false"
                    rounded="true"
                    responsive="true"
                    color="#26bb65"
                    bgcolor="#eaeaea"
                    stroke="10"
                    animation="easeInOutBack"
                    animation-delay="0"
                    class="text-center"></div>
                </div>


                <div ng-if="!started && !paused && !done">
                  <div class="row">
                    <div class="col center--block text--center"></div>
                    <div class="col center--block text--center">
                      <img src="img/arrow-images/upRight--white.png" class="arrow arrow--small center--block text--center">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                       <p class="lead text--center">
                          <strong>Push</strong> button to
                          <br>
                          <strong>Start </strong> the <strong>Countdown</strong>
                      </p>
                    </div>
                  </div>
                </div>

                <div ng-if="started && !done">
                        <button class="button button-balanced button-block" ng-click="modal.hide();stopTimer(true);showSuccess();">
                            Got it!
                        </button>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</div>