<div class="modal">
     <ion-header-bar class="bar bar-clear">
        <h1 class="title">New User</h1>
        <button class="button button-clear pull-left  " ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="has-header">
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="userName" autofocus />
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="password" />
                </label>
            </div>
            <button type="submit" class="button button-block button-balanced" ng-click="addNewUser(userName, password)">Submit</button>
        </form>

    </ion-content>
</div>
