<div class="modal">

    <ion-content class="bg-success">
        <div class="row">
            <div class="col">
                <h3 class="success--title"> Well Done!</h3>
                <br>
                        <i class="ion-ribbon-b bigIcon" style="font-size: 80px;"></i>
                <br>
            <div class="row hidden">
              <div class="col">
                  <div class="" >
                      <div class="card card-face">
                          {{cards.activeCard.phrase}}
                      </div>
                  </div>
                </div>
              </div>

                <p class="lead text--center"><strong>+1 Point</strong> {{activePlayer.name || game.activeTeam }} </p>
                <br>
                <br>
                <button class="button button-light button-outline icon ion-checkmark text--white" ng-click="addPointToActiveTeam();closeModal();nextStep();nextHand();"> Continue </button>
                <br>

          <div class="row">
            <div class="col center--block text--center"></div>
            <div class="col center--block text--center">
              <img src="img/arrow-images/upRight--white.png" class="arrow arrow--small center--block text--center">
            </div>
          </div>
          <div class="row">
            <div class="col">
               <p class="lead text--center">
                  Click button <strong>above</strong>
                  <br>
                    to continue
              </p>
            </div>
          </div>


            </div>
        </div>
    </ion-content>
</div>