<div class="modal">
  <ion-content class="success-modal-wrapper bg-success">

    <div class="top-section" style="margin-top:0;">
      <h1 class="success--title"> Success!!</h1>
      <p class="lead text--center"><strong>+1 Point</strong> {{game.activeTeam.teamName || 'Active Team Name'}}</p>
    </div><!--fixed-outside-bottom -->


    <div class="middle-section" style="margin-top:25px;display:block;">
      <div class="center-block">
        <i class="ion-ribbon-b bigIcon" style="font-size: 80px;"></i>
        <h3 class="success--title">"{{game.ac[0][0].phrase || "Insert Phrase Here" }}"</h3>
        <p class="countdown-text">
           Congratulations!  <strong>Click button</strong> below to accept point & <strong>continue playing</strong>
         </p>
      </div>
    </div><!--fixed-outside-bottom -->


    <div class="fixed__outside--bottom">
      <div class="row center-block">
         <div class="col">
            <button class="button continue-button button-light button-outline icon ion-checkmark text--white button-large" ng-click="stopTimer();addPointToActiveTeam();closeModal();nextStep();nextHand();"> Continue </button>
            <br>
            <button class="button cancel-button button-light button-clear text--white" ng-click="game.cancelSuccessModal();"> Cancel </button>
         </div>
      </div>
    </div><!--fixed-outside-bottom -->

  </ion-content>
</div>
