<div class="modal">
   <ion-content class="bg-error">

      <span class="text--center hidden">
          <i class="ion-close bigIcon" style="font-size: 100px;"></i>
      </span>

     <h1>Time Expired!</h1>
     <h3>No points for <strong>{{activePlayer.name || game.activeTeam }}</strong> </h3>
     <br>
      <p class="lead center--block">
          You may continue playing, or the <strong>other team</strong> may <strong>risk 1 point</strong>, and try to guess the <strong>secret phrase</strong>.
      </p>

      <div class="row">
        <div class="col center--block">
              <a class="button button-light button-outline icon ion-chevron-left button-block" ng-click="closeModal();showStealPoint();">   Steal Point
              </a>
        </div>
        <div class="col center--block">
          <a class="button  button-light  button-outline icon icon-right ion-chevron-right button-block" ng-click="closeModal();nextStep();">
                Continue
            </a>
        </div>
      </div>
      <div class="row hidden">
        <div class="col center--block text--center">
          <img src="img/arrow-images/upLeft--white.png" class="arrow arrow--small center--block text--center">
        </div>
        <div class="col center--block text--center">
          <img src="img/arrow-images/upRight--white.png" class="arrow arrow--small center--block text--center">
        </div>
      </div>
      <div class="row hidden">
        <div class="col">
          <p class="lead text--center">
                What say you?
          </p>
        </div>
      </div>
      <div class="row hidden">
        <div class="col">
                <p class="lead text--center">
                      What say you?
                </p>
        </div>
      </div>

  </ion-content>
</div>