<div class="modal">
  <ion-content class="error-modal-wrapper bg-error">

    <div class="top-section" style="margin-top:50px;">
      <h1 class="error--title">Time Expired!</h1>
      <p class="lead text--center"><strong>No points</strong> for {{game.activeTeam.teamName || 'Active Team Name'}}</p>
    </div><!-- top -->

    <div class="middle-section" style="display:block;">
      <div class="text-center">
        <span>
          <i class="icon ion-ios-close-empty bigIcon" style="font-size: 160px;"></i>
        </span>
        <p class="error--message">
          <strong>Click button</strong> below to accept your failure and <strong>continue playing</strong>
        </p>
      </div>
    </div><!-- middle -->

    <div class="fixed__outside--bottom">
      <div class="row center-block">
         <div class="col">
            <button class="button error-button button-light button-outline icon icon-right ion-ios-arrow-forward text--white button-large" ng-click="closeModal();nextStep();"> Continue </button>
         </div>
      </div>
    </div><!--bottom -->

  </ion-content>
</div>
