<div class="container hidden">

  <div class="fixed__outside--top">
    <p class="text--pre-title">WELCOME TO</p>
    <h1 class="text--start">Uncivilized Charades</h1>
  </div>

  <div class="fixed__outside--center">
    <div class="start__button__container center--block">
      <button class="start--button button--glow button button-energized button-fab button-outline icon ion-power" ng-click="startQuickStart(team);"></button>
    </div>
    <p class="lead text--red text--center text--start pull-left">Push Button to Start a <br>New Game</p>
  </div><!--/.fixed__outside--center-->

  <div class="fixed__outside--bottom">
    <p clas="text--center">
      Or <a href="#">Click Here</a> for a <a href="#">Quickie</a><!-- TODO... make this a modal in GameController -->
    </p>
  </div>

</div><!--/.container-->


<div class="container">
  <div class="row">
    <div class="col">

      <p id="one" class="hidden animated welcome-to">Welcome To</p>

      <h1 id="two" class="hidden animated uncivilized">Uncivilized</h1>

      <h2 id="three" class="hidden animated charades">Charades</h2>

      <img id="four" class="hidden animated hidden hands" src="img/intro/hands.png">

      <div class="hidden card card-back"></div>

      <div class="fixed__outside--bottom">
        <div class="row">
          <div class="col">
            <div id="five" class="hidden animated start__button__container center--block">
              <button class="hidden start--button button--glow button button-energized button-fab button-outline icon ion-power" ng-click="startQuickStart(team);"></button>
              <button class="button-start button button-light button-large button-outline text-upper" ng-click="startQuickStart(team);">Start New Game</button>
              <p class="hidden start-text lead text--center text--start pull-left">Push Button to Start a <br>New Game</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="hidden">
  <div class="row">
    <div class="col">
      <button class="button button-stable button-outline button-block" ng-click="gameWithPlayers();">Game With Players</button>
    </div>
    <div class="col">
      <button class="button button-stable button-outline button-block" ng-click="gameWithTeams();">Game With Teams</button>
    </div>
  </div>
  <div class="row">
    <div class="col center--block text--center">
      <img src="img/arrow-images/upLeft--white.png" class="arrow arrow--small center--block text--center">
    </div>
    <div class="col center--block text--center">
      <img src="img/arrow-images/upRight--white.png" class="arrow arrow--small center--block text--center">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text--center ">
          What type of game would you like to play?
      </h2>
    </div>
  </div>
</div>