
<ion-content class="{{teamCss}}" ng-if="game.started">
  <div class="game__slide  {{teamCss}} slide-right-to-left" ng-if="gameSlideActive">


    <div class="{{(game.canDeal === true || game.cardsDealt === true ) ? 'show' : 'hidden'}} ">
      <div>
        <ul>
<!--           <li ng-repeat="card in game.dealer.deck.dealt">{{card.phrase.phrase}}</li>
 -->
<!--           <li ng-repeat="card in cards.active">card: {{card.phrase.phrase}}</li>
 -->         </ul>
      </div>

      <div class="cards--container">
<div ng-controller="CardsController">

      <td-cards control="cardsControl" ng-if="game.cardsVisible">

        <td-card ng-repeat="card in cards.master track by $index"
            on-destroy="cardDestroyed($index)"
            on-swipe-up="cardSwipedUp($index)"
            on-double-tap="togglePhrases()"
            on-transition-left="cardSwipedLeft($index)"
            on-transition-right="cardSwipedRight($index)"
            on-partial-swipe="cardPartialSwipe(amt)"
            class="card-{{$index}} {{ (game.cardFaceVisible == true) ? 'card-face' : 'card-back' }}" >

          <div class="image" ng-controller="CardController">

            <h1 class="td--phrase {{ (game.cardFaceVisible == true && showAltPhrase == false) ? 'show' : 'hidden' }}">{{card.phrase}}</h1>

            <h1 class="td--alt-phrase {{ (game.cardFaceVisible == true  && showAltPhrase == true) ? 'show' : 'hidden' }}">{{card.alt_phrase}}</h1>


             <button  ng-click="activateCard($index)" class="hidden button button-calm {{ (game.cardFaceVisible == true) ? 'show' : 'hidden' }}">Select this Card!</button>

             <button  ng-click="togglePhrases()" class="hidden button button-calm button-outline {{ (game.cardFaceVisible == true) ? 'show' : 'hidden' }}">Toggle Phrases</button>

            <div class="hidden no-text">NOPE</div>
            <div class="hidden yes-text">LIKE</div>
          </div>
        </td-card>

        <div class="empty" ng-if="!cards.master.length">
          <button ng-click="deal();" class="button button-outline button-positive">Deal</button>
        </div>

      </td-cards>
    </div>
      </div>
    </div>

    <div class="fixed__outside--top">
      <div class="row">
        <div class="col">
            <div id="team1__score" class="text--center">
              {{game.teams.team1.teamName}}:
              <strong>{{game.teams.team1.score}}</strong>
            </div>
          </div>
        <div class="col">
          <div id="team2__score" class="text--center">
            {{game.teams.team2.teamName}}:
            <strong>{{game.teams.team2.score}}</strong>
          </div>
        </div>
      </div>

      <div class="item" id="game__with__teams">
        <h2 class="active-team">Active Team</h2>
        <h1>{{game.activeTeam.teamName || 'Active Team Name'}}</h1>
      </div>


    </div><!-- /.fixed__outside--top -->

    <div class="fixed__outside--bottom">
      <div class="row">
         <div class="col">
            <div id="dealer" class="show">
                <h3 class="instruction-test">Push button to deal cards</h3>
                <button class="deal-cards button button-energized button-large" ng-click="game.deal();deal();">Deal Cards</button>
                <button class="deal-cards button button-energized button-large" ng-click="game.endGame(Team1);">end game</button>
            </div>
            <div id="showCards" class="hidden">
                <h3 class="instruction-test">Push button to show cards</h3>
                <button class="button button-energized button-large" ng-click="game.showCards()">Show Cards</button>
            </div>
            <div id="activateCard" class="hidden">
                <h3 class="instruction-test">Choose one of the three phrases above to act out</h3>
                <button class="button button-energized button-large button-outline" ng-click="game.activateCard()">Activate Card</button>
            </div>
            <div id="showCountdown" class="hidden">
                <h3 class="instruction-test">You'll have 120 seconds to act out the phrase. Click button when ready.</h3>
                <button class="button button-energized button-large button-outline" ng-click="game.showCountdown()">Start Countdown</button>
            </div>
            <div id="countdown" class="hidden">
                <h3 class="instruction-test">This should be a pop-up modal</h3>
            </div>
            <div id="readyNextTurn" class="hidden">
                <h3 class="instruction-test">Swipe the page left to start the next turn!</h3>
            </div>
         </div>
      </div>
    </div><!--fixed-outside-bottom -->

  </div>
</ion-content>
