
    <ion-pane ng-controller="CardsController">
    <!-- guts here -->


          <div class="td-title hidden">
            <div class="row">
              <div class="col">ActiveCard: <span>{{ cards.activeCard.length }}</span><span>{{cards.activeCard.phrase}}</span></div>
              <div class="col">Master: <span>{{ cards.master.length }}</span></div>
              <div class="col">Cards: <span>{{ cards.active.length }}</span></div>
              <div class="col">Discards: <span>{{ cards.discards.length }}</span></div>
            </div>
          </div>




<div id="game__container--top">
    <div id="top__menu"></div>
</div>

<div id="game__container--title">
    <h2 class="instruction-text {{ (game.step === -2) ? 'show' : 'hidden' }}">
      Uncivilized Charades 
    </h2>
    <h2 class="instruction-text {{ (game.step === -1) ? 'show' : 'hidden' }}">
      Click button to start game. <br> Step -1
    </h2>
    <h2 class="instruction-text {{ (game.step === 0) ? 'show' : 'hidden' }}">
      {{game.activePlayer.name}}'s turn, click button to deal cards.<br>Step 0
    </h2>
    <h2 class="instruction-text {{ (game.step === 1) ? 'show' : 'hidden' }}">
      Choose one of these three cards to act out. 
    </h2>
    <h2 class="instruction-text {{ (game.step === 2) ? 'show' : 'hidden' }}">
      Click Start to begin the countdown clock.
    </h2>
    <h2 class="instruction-text {{ (game.step === 3) ? 'show' : 'hidden' }}">
      Step 3: ACTION STEP.  Do action then readyNextTurn(); --> Countdown clock return success, then award 1 point to active team.  If return false then, award no points, ready next turn.
    </h2>
</div>

  <div id="game__container--scores">
    <div class="row">
      <div class="col">
        <div id="team1__score" class="text--center">
        <span ng-repeat="point in game.team1Points"><i class="icon ion-disc"></i></span>
        </div>
      </div>
    <div class="col">
      <div id="team2__score" class="text--center">
        <span ng-repeat="point in game.team2Points"><i class="icon ion-disc"></i></span>
      </div>
    </div>
  </div>
  </div>

  
<div id="game__container--cards">
    
<div ng-if="cards.active">
   <td-cards control="cardsControl">
         <td-card 
                  ng-repeat="card in cards.active"
                  on-destroy="cardDestroyed($index)"
                  on-transition-up="cardSwipedUp($index)"
                  on-transition-left="cardSwipedLeft($index)"
                  on-transition-right="cardSwipedRight($index)"
                  on-partial-swipe="cardPartialSwipe(amt)"
                  on-double-tap="onDoubleTap($index)" 
                  class="card card-{{$index}}  {{ (cardsVisible === true) ? 'card-back' : 'card-face' }}">
            
            <div  ng-controller="CardController">
                <div class="hidden no-text">NOPE</div>
                <div class="hidden yes-text">LIKE</div>

                  <article class="phrase">
                    <h1 class="td-title">{{card.phrase}}</h1>
                  </article>


                  <button  ng-click="activateCard($index)" class="button button-calm button-outline button-small">Select this Card!</button>


                  
            </div>
         </td-card>

        <td-card id="end-card"  drag="false" class="card {{ (game.step === 0) ? 'show' : 'hidden' }}">
            <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
        </td-card>


        <td-card id="end-card"  drag="false" class="card {{ (game.step === 0 && game.turn != 0) ? 'show' : 'hidden' }}">
            <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
        </td-card>


        <td-card id="active-card" class="card card-back " drag="false" ng-if="cards.active.length === 1">
            
        </td-card>



          <div id="start__game" class=" {{ (game.turn === -1) ? 'show' : 'hidden' }}">
              <span class="text--center reload-card">
                  <h1 class="body--title">Start Game</h1>
                  <div class="start__button__container">
                      <button class="button button-energized button-large button-fab button-outline icon ion-power" ng-click="game.startNewGame()"></button>
                  </div>
              </span>
          </div>
    


          <div class="hidden {{ (game.step === -11 ) ? 'show' : 'hidden' }}">
              <span class="reload-card">
                  <span>Next Turn</span>
                  <i class="icon ion-checkmark-circled disable-user-behavior cbutton cbutton--effect-novak " ng-click="game.nextTurn();refreshCards();"></i>
              </span>
          </div>

       </td-cards>

    </div>


  </div>

  <div id="game__container--toast">
             <h2 class="instruction-text code"><small>Turn:</small>  <b>{{game.turn}}</b> </span><span class="instruction-text"><small> Step:</small> <b>{{game.step}}</b></h2>
  </div>

  <div id="game__container--players" class="">

      <div class="testimonial item" class="animated slideInLeft  {{ (game.activePlayer.length > -1 ) ? 'show' : 'hidden' }}">
        <div class="author">
            <div class="testimonial-image ">
              <img alt="testimonial photo of lt col brad magrath" src="img/player-images/avatar.jpg">
            </div>
            <div class="testimonial-author-info">
                <a href="#"><span class="color">{{game.activePlayer.name || "Active Player"}}</span></a> Score: 2
            </div>
        </div>
       </div>

      <button class="button button-fab button-balanced icon ion-android-add button-fab-bottom-right activated cbutton cbutton--effect-novak " ng-click="soundClickOn();game.addPoint({{game.activePlayer}})"></button>


      <button class="hidden button button-fab button-balanced icon ion-android-add button-fab-bottom-right activated cbutton cbutton--effect-novak " ng-click="soundClickOn();game.nextStep()"></button>
  </div><!-- game__container--players -->
     