<div class="text-center">
                <h1>Time Expired!</h1>
               <h2>Your game is lame</h2>
                <br>
                <br>
                <h3>Woud the other team like to steal the point?</h3>
                <br>
                <button class="button button-link button-large" ng-click="game.stealPoint()">Yes, steal point</button>

                <br>
                <button class="button button-link button-large" ng-click="game.noPoint();game.readyNextTurn();">Nope</button>
            </div>
